@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .site-container{
        @apply max-w-3xl mx-auto px-4
    }
    .site-4xl-container{
        @apply max-w-4xl mx-auto
    }
    html{
        background-color: black;
        height: 100px;
        
    }
    body{
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(10,5,14,1) 77%, rgba(41,22,59,1) 100%);
    }
}