@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lato:wght@700&family=Raleway:wght@300;500;600&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .site-container{
        @apply max-w-3xl mx-auto px-4
    }
    .site-4xl-container{
        @apply max-w-4xl mx-auto
    }
   
     html{
         background:url("/bg.png");
         @apply bg-center bg-fixed
    }
    .lato{
        font-family: 'Lato', sans-serif;
    }
    .kanit{
        font-family: 'Kanit', sans-serif;
    }
    .raleway-light{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }
    .raleway-md{
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }
    .raleway-semibold{
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }

}