@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .site-container{
        @apply max-w-3xl mx-auto px-4
    }
    .site-4xl-container{
        @apply max-w-4xl mx-auto
    }
   
     html{
    background:#0b0f14
    }

}